pip install alabaster
pip install api-display-purposes
pip install aspose-cells
pip install asttokens,
pip install astunparse
pip install async-generator
pip install async-timeout
pip install attrs
pip install Automat
pip install Babel
pip install backcall
pip install backoff
pip install beautifulsoup4
pip install black
pip install bleach
pip install Brotli
pip install cachetools
pip install cattrs
pip install certifi
pip install cffi
pip install cfgv
pip install cfscrape
pip install chardet
pip install charset-normalizer
pip install clarifai
pip install clarifai-grpc
pip install click
pip install colorama
pip install colorgram.py
pip install comm
pip install configparser
pip install constantly
pip install contourpy
pip install cryptography
pip install cssselect
pip install cycler
pip install debugpy
pip install decorator
pip install defusedxml
pip install distlib
pip install Django
pip install docutils
pip install EasyProcess
pip install emoji
pip install entrypoint2
pip install esbonio
pip install et-xmlfile
pip install exceptiongroup
pip install executing
pip install fastjsonschema
pip install filelock
pip install flatbuffers
pip install fonttools
pip install fqdn
pip install frozenlist
pip install future
pip install gast
pip install google
pip install google-api-core
pip install google-api-python-client
pip install google-auth
pip install google-auth-httplib2
pip install google-auth-oauthlib
pip install google-pasta
pip install googleAPI
pip install googleapis-common-protos
pip install gql
pip install graphql-core
pip install grpcio
pip install gTTS
pip install h11
pip install h5py
pip install httpcore
pip install httplib2
pip install httpx
pip install huepy
pip install hyperlink
pip install identify
pip install idna
pip install image
pip install imageio
pip install imageio-ffmpeg
pip install imagesize
pip install imshow
pip install incremental
pip install iniconfig
pip install ipykernel
pip install ipython
pip install ipython-genutils
pip install ipywidgets
pip install isoduration
pip install itemadapter
pip install itemloaders
pip install jedi
pip install Jinja2
pip install jmespath
pip install joblib
pip install JPype1
pip install jsonpointer
pip install jsonschema
pip install keras
pip install kiwisolver
pip install lazy_loader
pip install libclang
pip install lightgbm
pip install lsprotocol
pip install lxml
pip install Markdown
pip install MarkupSafe
pip install matplotlib
pip install matplotlib-inline
pip install MeaningCloud-python
pip install mistune
pip install mock
pip install MouseInfo
pip install mss
pip install multidict
pip install mutagen
pip install mypy-extensions
pip install nbclassic
pip install nbclient
pip install nbconvert
pip install nbformat
pip install nest-asyncio
pip install networkx
pip install ngrams
pip install nodeenv
pip install notebook
pip install notebook_shim
pip install numpy==1.26.1
pip install oauth2client
pip install oauthlib
pip install openai
pip install opencv-python
pip install openpyxl
pip install opt-einsum
pip install outcome
pip install packaging
pip install pandas
pip install pandocfilters
pip install parsel
pip install parso
pip install pathspec
pip install pexpect
pip install pickleshare
pip install Pillow
pip install platformdirs
pip install playsound
pip install pluggy
pip install plyer
pip install prawcore
pip install pre-commit
pip install prettify
pip install prettytable
pip install proglog
pip install prometheus-client
pip install prompt-toolkit
pip install Protego
pip install protobuf
pip install psutil
pip install ptyprocess
pip install pure-eval
pip install pyasn1
pip install pyasn1-modules
pip install PyAudio
pip install PyAutoGUI
pip install pycparser
pip install pycryptodomex
pip install pydantic
pip install PyDispatcher
pip install pydub
pip install pygame
pip install PyGetWindow
pip install pygls
pip install Pygments
pip install PyMsgBox
pip install pyobjc-core
pip install pyobjc-framework-Cocoa
pip install pyobjc-framework-Quartz
pip install pyOpenSSL
pip install pyparsing
pip install pyperclip
pip install PyQt3D
pip install PyQt5
pip install PyQt5-sip
pip install PyQt6
pip install PyQt6-3D
pip install PyQt6-Charts
pip install PyQt6-DataVisualization
pip install PyQt6-NetworkAuth
pip install PyQt6-sip
pip install PyQt6-WebEngine
pip install PyQtChart
pip install PyQtDataVisualization
pip install PyQtNetworkAuth
pip install PyQtPurchasing
pip install PyQtWebEngine
pip install PyRect
pip install pyrsistent
pip install pyscreenshot
pip install PyScreeze
pip install PySocks
pip install pyspellchecker
pip install pytest
pip install python-anticaptcha
pip install python-dateutil
pip install python-dotenv==1.0.0
pip install python-json-logger
pip install pytube
pip install pytweening
pip install pytz
pip install PyVirtualDisplay
pip install PyWavelets
pip install PyYAML
pip install pyzmq
pip install qtconsole
pip install QtPy
pip install queuelib
pip install regex
pip install requests
pip install requests-file
pip install requests-oauthlib
pip install requests-toolbelt
pip install responses
pip install rfc3339-validator
pip install rfc3986-validator
pip install rsa
pip install rubicon-objc
pip install ruff
pip install schedule
pip install scikit-image
pip install scikit-learn
pip install scipy
pip install Scrapy
pip install scrapy-cloudflare-middleware
pip install scrapy-wayback-machine
pip install selectorlib
pip install selenium
pip install semantic-version
pip install Send2Trash
pip install service-identity
pip install setuptools-rust
pip install six
pip install sniffio
pip install snowballstemmer
pip install Solution
pip install sortedcontainers
pip install soupsieve
pip install spark-parser
pip install SpeechRecognition
pip install Sphinx
pip install sphinxcontrib-applehelp
pip install sphinxcontrib-devhelp
pip install sphinxcontrib-htmlhelp
pip install sphinxcontrib-jsmath
pip install sphinxcontrib-qthelp
pip install sphinxcontrib-serializinghtml
pip install sqlparse
pip install stack-data
pip install terminado
pip install threadpoolctl
pip install tifffile
pip install tinycss2
pip install tldextract
pip install tornado
pip install tqdm
pip install traitlets
pip install trio
pip install trio-websocket
pip install Twisted
pip install typeguard
pip install typer
pip install types-PyYAML
pip install typing_extensions
pip install tzdata
pip install uncompyle6
pip install undetected-chromedriver
pip install urllib3
pip install virtualenv
pip install w3lib
pip install watchdog
pip install wcwidth
pip install webcolors
pip install webdriverdownloader
pip install webencodings
pip install websocket-client
pip install websockets
pip install Werkzeug
pip install widgetsnbextension
pip install wrapt
pip install wsproto
pip install xdis
pip install xlrd
pip install yarl
pip install zope.interface